name: "Analyze and Test"

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  analyze:
    name: Flutter analyze
    runs-on: macos-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.38.9
      - run: flutter --version

      - name: Install melos
        run: dart pub global activate melos ^6.3.2

      - name: Install dependencies
        run: melos bootstrap

      - name: Check formatting
        run: |
          dart format ./
          git diff --exit-code

      - name: Run tests
        run: flutter test